$columnas: 7;
$filas: 6;
$color-tablero: #007bff; // Color azul para el tablero

.tablero {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    grid-template-rows: repeat($filas, 1fr);
    gap: 5px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 7 / 6;


    &__celda {
        background-color: #f1f1f1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@keyframes caer {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}



.ficha {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
    top: 0;
    transform: translateY(-100%);
    /* Punto de inicio fuera del tablero */
    animation: caer 0.5s ease-out forwards;
    /* La animación solo sucede una vez */

    &--jugador1 {
        background-color: red;
        /* Ficha roja */
    }

    &--jugador2 {
        background-color: yellow;
        /* Ficha amarilla */
    }
}