@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.board-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .board {
    background-color: var.$color-dark-purple-2;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
  }
}

.cell {
  transition: background-color 0.3s ease;
  @include mix.cell-style(var.$color-white);

  &.cell-1 {
    @include mix.cell-style(var.$color-light-purple);
    @include mix.animation-fall-through;
  }

  &.cell-2 {
    @include mix.cell-style(var.$color-green);
    @include mix.animation-fall-through;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
