@use '../../styles/variables' as var;
@use '../../styles/mixins' as mix;

.board-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .board {
    background-color: var.$color-dark-purple-2;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 20px;
  }
}
.cell {
  @include mix.cell-style(var.$color-white);
  position: relative; 
  transition: background-color 0.3s ease;

  &.cell-1::after,
  &.cell-2::after {
    @include mix.animation-fall-through;
  }

  &.cell-1::after {
    background-color: var.$color-light-purple;
  }

  &.cell-2::after {
    background-color: var.$color-green;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
