@use '../ui/styles/mixins' as mix;

.home-container {
  gap: 11px;
  padding: 2rem;
  justify-content: space-between;
  @include mix.flex();

  .title-section {
    text-align: center;
    margin-bottom: 1rem;
  }

  .game-board {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .status-section {
    gap: 10px;
    @include mix.flex();
  }
}
