.new-game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    height: 30px;
    margin-left: 10px;

    &_button {
        border-radius: 8px;
        border: none;
        padding: 8px;
        background: linear-gradient(135deg, rgba(108, 108, 224, 0.589), rgb(4, 94, 4));
        opacity: 0.7;
        font-size: 18px;
        font-weight: 500;
        color: white;
        border: solid 2px rgb(11, 2, 17);
        opacity: 0.9;

        &:hover {
            border-color: rgb(240, 232, 232);
        }
    }
}

.result {
    position: absolute;
    font-size: 48px;
    font-weight: bold;
    width: 75%;
    display: flex;
    justify-content: space-around;
    top: 250px;
    background: linear-gradient(135deg, rgba(108, 108, 224, 0.589), rgb(4, 94, 4));
    color: white;
    padding: 20px;
    border-radius: 8px;
    opacity: 1;
}

.result__player1 {
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(108, 108, 224, 0.589), rgba(168, 168, 207, 0.589));
    padding: 30px;
    border-radius: 4px;
    border: solid 2px black;
}

.result__player2 {
    color: rgb(4, 94, 4);
    font-weight: bold;
    background: linear-gradient(135deg, rgb(123, 204, 123), rgb(4, 94, 4));
    padding: 30px;
    border-radius: 4px;
    border: solid 2px black;
}